<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p class="text-center text-md-left">Copyright © 2018 <a>Wibase</a>. {{ 'COMPONENT.FOOTER.ALL_RIGHTS_RESERVED' |
          translate }}.</p>
      </div>

      <div class="col-md-6">
        <ul class="nav nav-primary nav-dotted nav-dot-separated justify-content-center justify-content-md-end">
          <li class="nav-item">
            <a class="nav-link">{{ 'COMPONENT.FOOTER.DOCUMENTATION' | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">{{ 'COMPONENT.FOOTER.FAQ' | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">{{ 'COMPONENT.FOOTER.TERMS_RIGHTS' | translate }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>