<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p class="text-center text-md-left">Copyright © 2018 <a href="http://thetheme.io/theadmin">Wibase</a>. All
          rights reserved.</p>
      </div>

      <div class="col-md-6">
        <ul class="nav nav-primary nav-dotted nav-dot-separated justify-content-center justify-content-md-end">
          <li class="nav-item">
            <a class="nav-link">Documentation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Terms and Rights</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>