<!-- Topbar -->
<header class="topbar topbar-expand-lg">
  <div class="topbar-left">
    <span class="topbar-btn topbar-menu-toggler"><i>&#9776;</i></span>
    <span class="topbar-brand fs-24"><strong>Wibase</strong></span>

    <div class="topbar-divider d-none d-xl-block"></div>

  </div>

  <div class="topbar-right">
    <ul class="topbar-btns">
      <li class="dropdown" dropdown>
        <span class="topbar-btn" dropdownToggle><img class="avatar" src="../assets/img/avatar/default.jpg" alt="..."></span>

        <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
          <a class="dropdown-item" href="#"><i class="ti-user"></i> Profile</a>
          <a class="dropdown-item" href="#">
            <div class="flexbox">
              <i class="ti-email"></i>
              <span class="flex-grow">Inbox</span>
              <span class="badge badge-pill badge-info">5</span>
            </div>
          </a>
          <a class="dropdown-item" href="#"><i class="ti-settings"></i> Settings</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#"><i class="ti-lock"></i> Lock</a>
          <a class="dropdown-item" href="#"><i class="ti-power-off"></i> Logout</a>
        </div>

      </li>
    </ul>

  </div>
</header>
<!-- END Topbar -->

<!-- Main container -->
<main class="main-container">

  <header class="header">
    <div class="header-info">
      <h1 class="header-title">
        <strong>Welcome to Wibase!</strong>
        <small>Let us handle the backend services for you, start by creating a project.</small>
      </h1>
    </div>
    
    <div class="header-action">
      <nav class="nav">
        <a class="nav-link active" href="#">Projects</a>
        <a class="nav-link" href="#">Web</a>
        <a class="nav-link" href="#">Android</a>
        <a class="nav-link" href="#">Ios</a>
      </nav>

      <div class="buttons" tooltip="Add Project" placement="left">
        <div class="fab">
          <button (click)="AddProject()" class="btn btn-float btn-primary" data-toggle="button">
            <i class="fab-icon-default ti-plus"></i>
          </button>
        </div>
      </div>

    </div>
  </header>
  <!--/.header -->


  <div class="main-content">

    <div class="row">

      <div *ngFor="let project of projects" class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
        <div class="card card-body card-round card-hover shadow-2">
          <h4 class="card-title b-0 px-0 py-0 fs-24">{{project.name}}</h4>
          <p>{{project.public_id}}</p>
          <p><i tooltip="Web" placement="bottom" class="fa fa-code"></i></p>
        </div>
      </div>

      <div *ngIf="!projects.length">
        <p class="ml-20 lead fw-400 opacity-60">You don't have any project yet.</p>
      </div>

    </div>

  </div>
  <!--/.main-content -->


  <!-- Footer -->
  <app-footer></app-footer>
  <!-- END Footer -->

</main>
<!-- END Main container -->