<div class="modal-header no-border">
  <h4 id="dialog-static-name" class="modal-title pull-left">{{ 'PAGE.PROJECT.DIALOG.TITLE' | translate }}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body modal-body-fit">

  <form appAdminForm [formGroup]="form">
    <div class="row">

      <div class="col-5">
        <div class="form-group">
          <label for="input-normal">{{ 'PAGE.PROJECT.DIALOG.INPUT.LABEL.PROJECT_NAME' | translate }}</label>
          <input type="text" class="form-control" formControlName="name">
        </div>
        <app-message-validator [control]="form.controls.name"></app-message-validator>
      </div>

      <div class="col-7">
        <div class="form-group">
          <label for="select">{{ 'PAGE.PROJECT.DIALOG.INPUT.LABEL.CATEGORY' | translate }}</label>
          <ng-select name="category" [items]="selectCategory | async" [multiple]="true" [hideSelected]="true" [searchable]="false" bindLabel="label"
            bindValue="value" formControlName="category">
          </ng-select>
        </div>
        <app-message-validator [control]="form.controls.category"></app-message-validator>
      </div>

      <div class="col-12 mt-20">
        <div class="custom-control custom-checkbox">
          <input #term type="checkbox" class="custom-control-input" formControlName="terms">
          <small class="custom-control-label">{{ 'PAGE.PROJECT.DIALOG.TERMS' | translate }} <a href="#"> {{ 'PAGE.PROJECT.DIALOG.TERMS_KNOW_MORE' | translate }}</a></small>
        </div>
        <app-message-validator class="clear-margin" [control]="form.controls.terms"></app-message-validator>
      </div>

    </div>
  </form>

</div>

<div class="modal-footer">
  <button type="button" class="btn btn-bold btn-pure btn-secondary" (click)="bsModalRef.hide()">{{ 'PAGE.SHARED_DIALOG.BUTTON.CANCEL' | translate }}</button>
  <button type="button" class="btn btn-bold btn-pure btn-primary" [disabled]="form.invalid" (click)="add()">{{ 'PAGE.SHARED_DIALOG.BUTTON.ADD' | translate }}</button>
</div>